* {
	font-family: verdana, sans-serif;
	font-size: 16px;
}

lh {
	font-weight: bold;
	font-size: 20px;
	font-family: ' verdana, serif;
}

dd {
	font-style: oblique;
	font-size: 16px;
	font-family: verdana, serif;
}

html {
	background: #D0D7E7;
	margin: 0 0 0 -1px;
	padding: 0;
	overflow-Y: scroll;
}

body {
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
}

body {
	color: #D0D0D0;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
}

p {
	letter-spacing: normal;
	line-height: 1.7em;
}

h1 {
	color: #FFE9AD;
	font-size: 22px;
	margin: 25px 0 10px 0;
	clear: both;
}

h2 {
	color: #FFE9AD;
	font-size: 20px;
	margin: 20px 0 10px 0;
	clear: both;
}

h3 {
	color: #FFE9AD;
	font-size: 18px;
	margin: 20px 0 5px 0;
	clear: both;
}

a:link,a:visited {
	color: #ffb508;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

#wrapper {
	background: transparent url( ../../static/images/css/page-vbg.jpg )
		repeat-y scroll 50% 0px;
	margin: 0 auto;
	width: 100%;
}

body {
	background-color: #D0D7E7;
}

#wrapper {
	border-top: 1px solid #ffffff;
}

#bg {
	margin: 0 auto;
	padding: 0;
	background: transparent;
	background-image: url(../../static/images/css/hat.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#page {
	background: transparent url( ../../static/images/css/page-bg.jpg )
		no-repeat center top;
}

#container {
	margin: 0 auto;
	width: 1000px;
}

#banner {
	margin: 0 auto;
	height: 180px;
	width: 100%;
}

#content {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	min-height: 800px;
}

#content p {
	text-align: justify;
}

#footerWrapper {
	margin: 0 auto;
	height: 160px;
	padding: 0;
	background: transparent
		url( ../../static/images/css/footerWrapper-bg.jpg ) no-repeat scroll
		center top;
}

#footer {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	height: 80px;
}

#footer {
	text-align: center;
}

#left {
	width: 140px;
	padding: 20px 20px 20px 20px;
	float: left;
}

#center {
	width: 760px;
	padding: 10px 20px 20px 20px;
	float: left;
}

#content p {
	margin-top: 10px;
	text-align: justify;
}

#sidebar ul.vmenu {
	list-style: none;
	text-align: left;
	margin: 7px 0px 8px 0px;
	padding: 0;
	text-decoration: none;
	border-top: 1px solid #440400;
}

#sidebar ul.vmenu li {
	list-style: none;
	padding: 4px 0 4px 0px;
	margin: 0 2px;
	border-bottom: 1px solid #440400;
}

#sidebar ul.vmenu li a {
	text-decoration: none;
	color: #ffb508;
}

#sidebar ul.vmenu li a:hover {
	color: #FFFFFF;
}

#sidebar ul.vmenu ul {
	margin: 0 0 0 5px;
	padding: 0;
}

#sidebar ul.vmenu ul li {
	border: none;
}

a img {
	border: none;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

#mainContent {
	
}

#mainContent h1{
	font-weight: normal;
}

#mainContent h2{
	font-weight: normal;
}

#mainContent h3{
	font-weight: normal;
}

#mainContent p{
	
}

#mainContent ul{
	
}

#mainContent ul li{
	border-bottom-color: -moz-use-text-color;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 5px;
}

#sidebar {
		
}

#sidebar ul{
		
}

#sidebar ul.vmenu li a{
		
}

#sidebar  ul.submenu{
		
}

#sidebar ul.submenu li a{
	font-size: 12px;
	padding-left: 20px;
	white-space: nowrap;
}

table.attributes {
	width: 100%;
}

tr.attributeRow {
	vertical-align: top;
}

td.attributeKey {
	color: white;
	display: table-cell; 
	align: right;
	padding-right: 20px;
	border-bottom-color: #440400;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

td.attributeValue {
	border-bottom-color: #440400;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.attributes {

}

tr.__category {
	display: none;
}

tr.Description {
	display: none;
}

tr.ID {
	display: none;
}

td.Actions {
	font-family: 'courier';
	font-size: 11px;
}

td.Rules {
	font-family: 'courier';
	font-size: 11px;
}

td.Applies {
	font-family: 'courier';
	font-size: 11px;
}

td.Price {
	color: green;
}

